<!DOCTYPE html>
<html>

<head>
    <title>
        Pwoli Express Sample App
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- pwoliView.head() %>
</head>

<body>
    <%- body; %>
</body>
<%- pwoliView.endPage()%>

</html>